/* Base Styles */

@font-face {
    font-family: 'calendas_plusregular';
    src: url('../fonts/calendas_plus-webfont.eot');
    src: url('../fonts/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calendas_plus-webfont.woff') format('woff'),
         url('../fonts/calendas_plus-webfont.ttf') format('truetype'),
         url('../fonts/calendas_plus-webfont.svg#calendas_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'calendas_plusitalic';
    src: url('../fonts/calendas_plus_italic-webfont.eot');
    src: url('../fonts/calendas_plus_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calendas_plus_italic-webfont.woff') format('woff'),
         url('../fonts/calendas_plus_italic-webfont.ttf') format('truetype'),
         url('../fonts/calendas_plus_italic-webfont.svg#calendas_plusitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* Variables */
// Color
$white: rgba(255,255,255,1); /* #ffffff */
$off-white: rgba(248,247,247,1); // #f8f7f7
$black: rgba(21,19,20,1); /* #151314 */
$grey: rgba(140,140,140,1); // #8c8c8c
$light-grey: rgba(224,224,224,1); // #e0e0e0
$pink: rgba(255,173,173,1); // #ffadad


// Base Type
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
// TypeKit
$proxima:  "proxima-nova", helvetica, tahoma, verdana, sans-serif;
$calendas: 'calendas-plus', Georgia, Cambria, "Times New Roman", Times, serif;
$calendas_italic: 'calendas_plusitalic', Georgia, Cambria, "Times New Roman", Times, serif;

// Elements
$divider: 1px solid rgba(229,229,229,1); /* #E5E5E5 */

// Symbolset
.ss-icon {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

// Highlights
::-moz-selection{ background: #333; color:#fff; text-shadow: none; }
::selection { background:#333; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: none; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

// Global Elements
html, :root {}
body {
  background: $off-white;
  -webkit-backface-visibility: hidden;
  // -webkit-text-size-adjust: none;
  // -moz-text-size-adjust: none;
  // -ms-text-size-adjust: none;
  // text-size-adjust: none;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  -ms-font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  text-rendering: optimizelegibility;
  font-family: $calendas;
  font-size: 10px;
  color: $grey;
  @include animate;
  @include fadeIn;
  @media (min-width: 1240px) {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: 46% 114%;
    background-size: 2400px auto;
  }
}
h1,h2,h3,h4,h5,h6,p,a {
  margin: 0;
  font-weight: 100;
  line-height: 1;
}
p, a {
  font-size: 0.9rem;
}
p {
  line-height: 1.6;
}
a {
  color: $pink;
  text-decoration: none;
  @include transition(color 0.25s ease-in-out);
  &:hover {
    color: darken($pink, 10%);
  }
}

.button {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: auto;
  padding: 10px 20px;
  background: $pink;
  color: $white;
  font-family: $proxima;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid transparent;
  @include transition( (background 0.25s ease-in-out),(color 0.25s ease-in-out),(border 0.25s ease-in-out) );
  &:hover {
    background: transparent;
    color: $pink;
    border-color: $pink
  }
}

%section-icon {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 51px 60px;
  margin-left: auto;
  margin-right: auto;
  @include size(51px, 60px);
}

.container {
  position: relative;
  z-index: 2;
  background: $white;
  margin-bottom: 100px;
  padding: 0;
  border: 1px solid #e2e2e2;
  border-top: none;
  @media (min-width: 768px) {
    padding: 0 30px;
  }
  &.bare {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  &.final {
    padding: 0;
    margin-bottom: 0;
  }
}
header[id="main-header"] {
  position: relative;
  background: url('../img/bg-header.jpg') no-repeat  50% 50% ;
  background-size: cover;
  overflow: hidden;
  height: 300px;
  @media (min-width: 768px) {
    height: 500px;
  }
  // i {
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   background: rgba(0,0,0,0.6);
  //   @include animate-custom;
  //   @include fadeOut;
  // }
  h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    z-index: 20;
    background: transparent url('../img/mark.png') no-repeat 50% 50%;
    background-size: 100%;
    text-align: center;
    margin-left: -62px;
    @include ir;
    @include size(130px,62px);
  }
}

.container section:not(#sign-up):not(#directions) {
  width: 140%;
  margin-left: -20%;
  -webkit-transform: rotate(8deg);
  -moz-transform:    rotate(8deg);
  -ms-transform:     rotate(8deg);
  -o-transform:      rotate(8deg);
  transform:         rotate(8deg);
  & > article {
    overflow: hidden;
    padding: 20px 0 40px 0;
    width: 71.4285714%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: rotate(-8deg);
    -moz-transform:    rotate(-8deg);
    -ms-transform:     rotate(-8deg);
    -o-transform:      rotate(-8deg);
    transform:         rotate(-8deg);
  }
}

section {
  position: relative;
  overflow: hidden;
  padding: 80px 20px;
  h1, h2, h3, h4, h5, h6, p, a, div {
    position: relative;
    z-index: 100;
    color: #6e6e6e;
  }
  h2 {
    display: block;
    margin-bottom: 5px;
    font-family: $calendas_italic;
    font-size: 2.25rem;
    font-weight: 100;
    text-align: center;
    line-height: 1.5;
    @media (min-width: 768px) {
      font-size: 2.25rem;
      text-align: left;
    }
  }
  h6 {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-family: $calendas_italic;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  div {
    overflow: hidden;
    &.left {
      margin-bottom: 25px;
      @media (min-width: 768px) {
        width: 50%;
        float: left;
        margin-bottom: 0;
        padding: 0 40px 0 0;
        h2, p {
          width: 92%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    &.right {
      @media (min-width: 768px) {
        width: 50%;
        float: right;
        padding: 0 0 0 40px;
        h2, p {
          width: 92%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    &.left_swap {
      margin-top: 50px;
    }
    @media (min-width: 768px) {
      &.right_swap {
        float: right;
      }
      &.left_swap {
        float: right;
        margin: 0;
      }
    }
  }
  p {
    display: block;
    width: 100%;
    & + p {
      margin-top: 20px;
    }
  }
  blockquote {
    width: 100%;
    max-width: 700px;
    opacity: 0.75;
    margin: 30px auto;
    font-family: $calendas_italic;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    br {
      display: none;
    }
    @media (min-width: 768px) {
      br {
        display: block;
      }
    }
  }
}

section[id="join-us"] {
  text-align: center;
  h2 {
    padding: 0;
    font-family: $calendas;
    font-size: 2.2rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }
  .join-us-at {
    position: relative;
    margin: 70px 0 80px 0;
    padding: 5px 0;
    h3 {
      font-family: $calendas_italic;
      font-size: 1.25rem;
      font-weight: 100;
    }
    date {
      display: block;
      margin-top: 10px;
      font-family: $proxima;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 600;
    }
    a {
      display: block;
      margin: 10px 0;
      opacity: 0.7;
      font-size: 1rem;
      color: $grey;
      @media (min-width: 768px) {
        display: block;
        width: 125px;
        position: absolute;
        right: 10px;
        margin: 0;
        font-size: 0.6rem;
        text-align: right;
        &:hover {
          opacity: 1;
        }
        &.add-to-calendar {
          top: 6px;
        }
        &.get-directions {
          bottom: 6px;
        }
      }
      i {
        display: none;
        @media (min-width: 768px) {
          display: block;
          width: 75%;
          float: left;
          padding: 2px 15px 0 0;
        }
      }
      .ss-icon {
        display: block;
        font-size: 1rem;
        @media (min-width: 768px) {
          display: block;
          float: left;
        }
      }
      &:hover {
        color: #000;
      }
    }
  }
  ul[id="timeline"] {
    position: relative;
    width: 275px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    &:before {
      display: block;
      position: absolute;
      top: 20px;
      left: 88px;
      content: '';
      background: $light-grey;
      @include size(1px, 130px);
      @media (min-width: 768px) {
        top: 43px;
        left: 100px;
        @include size(600px, 1px);
      }
    }
    li {
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;
      margin: 10px 0;
      padding: 0;
      text-align: center;
      list-style-type: none;
    }
    time {
      display: block;
      width: 25%;
      float: left;
      margin-bottom: 10px;
      font-size: 1.25rem;
      sup {
        top: 6px;
        right: -3px;
        opacity: 0.75;
        vertical-align: top;
        font-size: 0.5rem;
      }
    }
    .timeline-marker {
      display: block;
      position: absolute;
      top: 7px;
      left: 85px;
      background: $light-grey;
      margin: 0 auto 10px;
      @include size(6px, 6px, 50px);
    }
    p {
      margin-left: 120px;
      text-align: left;
      .ss-icon {
        font-size: 1.3rem;
        padding-right: 10px;
      }
    }
    @media (min-width: 768px) {
      width: 100%;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      li {
        width: 25%;
        float: left;
        margin: 0;
      }
      time {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 50px;
        sup {
          top: 6px;
          right: -3px;
          opacity: 0.75;
          vertical-align: top;
          font-size: 0.5rem;
        }
      }
      .timeline-marker {
        top: 40px;
        left: 50%;
        margin: 0 0 0 -3px;
      }
      p {
        margin-left: 0;
        text-align: center;
        .ss-icon {
          display: block;
          width: 100%;
          margin: 0;
          padding-right: 0;
          color: $pink;
          text-align: center;
        }
      }
    }
  }
}


section[id="history"] {
  @media (min-width: 768px) {
    background: transparent url('../img/bg-section-history.jpg') no-repeat -18% 57%;
    background-size: 55%;
  }
  & > span {
    @extend %section-icon;
    background-image: url('../img/icon-history.png');
    @media (min-width: 768px) {
      position: absolute;
      top: 200px;
      left: 50%;
      margin-left: -25px;
    }
  }
  .wrapper {
    overflow: hidden;
  }
  h2 {
    margin-bottom: 40px;
    font-family: $calendas;
    i {
      font-family: $calendas_italic;
      font-style: normal;
    }
    @media (min-width: 768px) {
      text-align: center;
    }
  }
  p {
    padding-bottom: 20px;
  }
  a {
    padding-bottom: 1px;
    border-bottom: 1px solid lighten($grey,15%);
  }
}

section[id="proposal"] {
  @media (min-width: 768px) {
    background: transparent url('../img/bg-section-proposal.jpg') no-repeat 109% 38%;
    background-size: 55%;
  }
  h2 {
    margin-bottom: 40px;
    font-family: $calendas_italic;
    text-align: center;
  }
  span {
    @extend %section-icon;
    background-image: url('../img/icon-proposal.png');
    @media (min-width: 768px) {
      position: absolute;
      top: 195px;
      left: 50%;
      margin-left: -29px;
    }
  }
}


section[id="accomodations"] {
  @media (min-width: 768px) {
    background: transparent url('../img/bg-section-accomodations.jpg') no-repeat  -29% 70%;
    background-size: 50%;
  }
  .alt-hotel {
    color: $pink;
    &:hover {
      color: darken($pink, 10%);
    }
  }
  .accomodations-button {
    display: block;
    overflow: hidden;
    width: 250px;
    max-width: 95%;
    margin: 30px auto 0;
    padding: 14px 0;
    border: 1px solid $grey;
    @include box;
    @include transition( (color 0.25s ease-in-out),(border 0.25s ease-in-out) );
    @media (min-width: 768px) {
      margin: 30px 0 0 15px;
      &:hover {
        color: $pink;
        border-color: $pink;
      }
    }
    .ss-icon {
      display: block;
      float: left;
      width: 20%;
      height: 20px;
      padding-top: 3px;
      font-size: 1.2rem;
      text-align: center;
      pointer-events: none;
    }
    address, .telephone {
      display: block;
      float: left;
      width: 80%;
      font-family: $proxima;
      font-size: 0.8em;
      font-style: normal;
      text-transform: uppercase;
      font-weight: 300;
      pointer-events: none;
      @include ellipsis;
    }
  }
  .hotel-block {
    position: relative;
    background: $off-white;
    width: 300px;
    max-width: 100%;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media (min-width: 768px) {
      background: transparent;
      padding: 40px 0 0 0;
    }
    span {
      @extend %section-icon;
      background-image: url('../img/icon-accomodations.png');
      // @media (min-width: 768px) {
        // position: absolute;
        // top: 0;
        // left: 50%;
        // margin-left: -25px;
      // }
    }
    .name {
      opacity: 0.7;
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 1.2rem;
      font-family: $calendas_italic;
    }
    .details {
      opacity: 0.7;
      font-family: $proxima;
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      & + p {
        margin: 0 auto 40px;
      }
    }
  }
}


section[id="venue"] {
  @media (min-width: 768px) {
    background: transparent url('../img/bg-section-venue.jpg') no-repeat 102% 47%;
    background-size: 55%;
  }
  .left {
    @media (min-width: 768px) {
      margin-top: -20px;
    }
  }
  .right {
    @media (min-width: 768px) {
      margin-top: 80px;
    }
    span {
      @extend %section-icon;
      background-image: url('../img/icon-venue.png');
      // @media (min-width: 768px) {
        // position: absolute;
        // top: 0;
        // left: 50%;
        // margin-left: -25px;
      // }
    }
    p {
      opacity: 0.65;
      font-family: $calendas_italic;
      strong {
        display: block;
        font-family: $proxima;
        font-style: normal;
        text-transform: uppercase;
      }
      &.ladies-header,
      &.gentlemen-header {
        margin-bottom: 0;
        & + p {
          margin-top: -4px;
        }
      }
    }
  }
}



section[id="registry"] {
  @media (min-width: 768px) {
    background: transparent url('../img/bg-section-registry.jpg') no-repeat 15% 66%;
    background-size: 55%;
    margin-top: 5px; // fixes bg overlap w/ previous section
  }
  h2 {
    margin-top: 20px;
  }
  h6 {
    @media (min-width: 768px) {
      opacity: 0.75;
      margin-top: 70px;
    }
  }
  .button {
    display: block;
    width: 105px;
    margin-left: auto;
    margin-right: auto;
    // padding: 6px 0;
    text-align: center;
  }
  span {
    @extend %section-icon;
    background-image: url('../img/icon-registry.png');
    // @media (min-width: 768px) {
      // position: absolute;
      // top: 0;
      // left: 50%;
      // margin-left: -25px;
    // }
  }
}

section[id="sign-up"] {
  padding-top: 20px;
  padding-bottom: 10px;
  article#form, article#thank-you {
    display: none;
    &.is-shown {
      display: block;
    }
  }
  #thank-you {
    padding: 80px 0 40px 0;
    text-align: center;
    h2 {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

section[id="directions"] {
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  header {
    overflow: hidden;
    @media (min-width: 768px) {
      padding: 0 40px 30px;
      border-bottom: 1px solid lighten($grey, 35%);
    }
  }
  h2, form {
    @media (min-width: 768px) {
      float: left;
    }
  }
  h2 {
    width: 100%;
    @media (min-width: 768px) {
      width: 30%;
    }
  }
  form {
    overflow: hidden;
    width: 100%;
    margin: 20px auto 20px;
    padding: 0 10% 20px;
    border-bottom: 1px solid lighten($grey, 35%);
    @include box;
    @media (min-width: 768px) {
      width: 70%;
      margin: 0;
      border: none;
    }
    #map-address {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding: 9px 10px;
      font-size: 1.2em;
      font-family: $proxima;
      outline: none;
      border: 1px solid lighten($grey, 20%);
      @include box;
      &:focus {
        outline: none;
      }
      @media (min-width: 768px) {
        float: left;
        width: 45%;
      }
    }
    #map-subscribe {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-left: 5%;
      @include box;
      @media (min-width: 768px) {
        float: left;
        width: 35%;
      }
    }
    @media (min-width: 768px) {
      #map-address {
        margin-top: 8px;
      }
      #map-subscribe {
        margin: 8px 0 0 5%;
      }
    }
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  opacity: 0;
  padding: 20px 0;
  @include transition(opacity 0.2s ease-in-out);
  &.is-shown {
    opacity: 1;
  }
  p, a {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: $grey;
    @media (min-width: 1240px) {
      color: $white;
    }
  }
  p {
    display: block;
  }
  em {
    font-weight: 500;
    font-size: 20px;
  }
  .ss-icon {
    display: block;
    text-align: center;
    font-size: 0.75rem;
    margin: 4px 0;
    color: $grey;
    @media (min-width: 1240px) {
      color: $white;
    }
    & + p {
      display: block;
      margin-top: 5px;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-family: $proxima;
      font-weight: 700;
    }
  }
}


#mc_embed_signup{
  position: relative;
  background:#fff;
  padding: 80px 20px 40px; // less padding bottom because of the form
  clear:left;
  font-family: $proxima;
  font-size: 1rem;
  color: $grey;
  input {
    width: 100%;
    max-width: 100%;
    font-family: $proxima;
    font-size: 0.8rem;
    font-weight: 100;
    outline: none;
    @include box;
    &:focus {
      outline: 0;
    }
  }
  label {
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;;
  }
  #first-name {
    width: 45%;
    float: left;
    clear: none;
    @include box;
  }
  #last-name {
    width: 45%;
    float: left;
    clear: none;
    margin-left: 10%;
    @include box;
  }
  #email {
    width: 100%;
    @include box;
  }
  #sms {
    margin-bottom: 10px;
    padding: 0;
    min-height: initial;
    input, label {
      cursor: pointer;
    }
    input {
      &:hover {
        & + label {
          opacity: 1;
        }
      }
    }
    label {
      margin-left: 8px;
      font-family: $calendas_italic;
      font-size: 0.9rem;
      text-transform: none;
      opacity: 0.75;
    }
  }
  #phone {
    @include box;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: none;
    @include transition(height 0.25s ease-in-out);
    &.is-shown {
      display: block;
      height: 50px;
      @include animate-slow;
      @include fadeIn;
    }
  }
  #mc-embedded-subscribe {
    display: block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: $pink;
    margin-top: 20px;
    padding: 2px 20px;
    font-family: $proxima;
    font-size: 0.8rem;
    border-radius: 0;
    @include box;
    &:hover {
      background-color: darken($pink, 10%);
    }
  }
  div.mce_inline_error {
    background: rgb(255, 178, 178) !important;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: normal !important;
    font-family: $proxima;
  }

  div.response,
  #mce-error-response,
  #mce-success-response  {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    opacity: 0.75;
    margin-top: 40px;
    text-align: center;
  }
}

html.js {
  @media (min-width: 768px) {
    section[id="join-us"],
    section[id="history"],
    section[id="proposal"],
    section[id="accomodations"],
    section[id="venue"],
    section[id="registry"] {
      article {
        -webkit-transform-style: preserve-3d;
        opacity: 0;
      }
      &.is-visible {
        article {
          @include animate;
          @include fadeIn;
        }
      }
    }
  }
}

